<% if current_user != @user %>
  <div id="favorite_form_<%= micropost.id %>">
  <% if current_user.favorite?(micropost) %>
    <%= render 'users/unfavorite', micropost: micropost %>
  <% else %>
    <%= render 'users/favorite', micropost: micropost %>
  <% end %>
  </div>
<% end %>